.redes{ 
    height: 200px;
    background-color: aqua;
    padding: 30px;
}
.redes h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;

}
.sociales {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.sociales li {
    display: inline-block;
  
}

.sociales a{
    padding: 10px;
    
}
